body{
    background-image: url(https://www.shutterstock.com/image-illustration/picture-highway-that-passing-through-260nw-1837837225.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}